<div class="all-props-container">
  <div class="card-deck">
    {{#each props as |prop|}}
      <div class="prop-title" id={{prop._id}}>
        <h3>{{prop.name}}</h3>
        <a href="{{prop.readMoreUrl}}" target="_blank" class="source-link">(Read More)</a>
      </div>
      <div class="pros-and-cons-container">
        <div class="card-container">
          <div class="card card__pros mb-3">
            <div class="card-header">People <strong>FOR</strong> say</div>
            <div class="card-body">
              {{#each prop.pros as |pro|}}
                <ul>
                  {{#if pro}}
                    <!-- trim empty items from "pros" array -->
                    <li><span>
                        {{pro}}
                      </span></li>
                  {{/if}}
                </ul>
              {{/each}}
            </div>
            {{#if @root.user}}
              {{#contains @root.user.arrayOfYesVotes prop.id}}
                <button class="save-vote-link prop-voted" name="yesVote" value="{{prop.id}}" id="{{prop.id}}-yes" onClick="undoYesVote('{{prop.id}}')">
                   Undo Vote
                </button>
              {{else}}
                <button class="save-vote-link" name="yesVote" value="{{prop.id}}" id="{{prop.id}}-yes" onClick="saveYesVote('{{prop.id}}')">
                   Save Vote
                </button>
              {{/contains}}
            {{/if}}
          </div> <!-- pros card container -->
          <div class="card card__cons mb-3">
            <div class="card-header">People <strong>AGAINST</strong> say</div>
            <div class="card-body">
              {{#each prop.cons as |con|}}
                <ul>
                  {{#if con}}
                    <!-- trim empty items from "cons" array -->
                    <li>
                      {{con}}
                    </li>
                  {{/if}}
                </ul>
              {{/each}}
            </div>
            {{#if @root.user}}
              {{#contains @root.user.arrayOfNoVotes prop.id}}
                <button class="save-vote-link prop-voted" name="noVote" value="{{prop.id}}" id="{{prop.id}}-no" onClick="undoNoVote('{{prop.id}}')">
                   Undo Vote
                </button>
              {{else}}
                <button class="save-vote-link" name="noVote" value="{{prop.id}}" id="{{prop.id}}-no" onClick="saveNoVote('{{prop.id}}')">
                   Save Vote
                </button>
              {{/contains}}
            {{/if}}
          </div> <!-- cons card container -->
        </div> <!-- card container -->
      </div> <!-- pros and cons container -->
    {{/each}}
  </div> <!-- card deck container -->
</div> <!-- all props -->

<script src="/js/props.js"></script>
<script type="text/javascript">
  // Grab width of window and card container
  const windowWidth = $(window).width();
  const cardContainerWidth = $('.card-container').width();
  // start the horizontal scroll in the middle
  $(".pros-and-cons-container").scrollLeft((cardContainerWidth - windowWidth) / 2);
</script>
