<div class="padding-container">
    {{#if user.isAdmin}}
    <div class="container">
      <form action="/admin/props/{{prop.id}}" method="post" class="center_div">
        <h1>Edit Proposition</h1>
        <div class="form-group">
          <label for="prop-name">Proposition Name</label><span class="required-star">*</span>
          <input type="text" name="name" class="form-control" id="prop-name" placeholder="ex: Proposition 1 or Proposition E" value="{{prop.name}}" required>
        </div>
        <div class="form-group">
          <label for=prop-summary"">Summary</label><span class="required-star">*</span>
          <input type="text" name="summary" class="form-control" id="prop-summary" placeholder="Briefly explain what the proposition is about" value="{{prop.summary}}" required>
        </div>
        {{#each prop.pros as |pro|}}
          <div class="form-group">
            <label for="prop-pros">Pros</label><span class="required-star"></span>
            <input type="text" name="pros" class="form-control" id="prop-pros" placeholder="What do proponents say about it?" value="{{pro}}">
          </div>
        {{/each}}
        {{#each prop.cons as |con|}}
        <div class="form-group">
          <label for="prop-cons">Cons</label><span class="required-star"></span>
          <input type="text" name="cons" class="form-control" id="prop-cons" placeholder="What do people against this proposition say?" value="{{con}}">
        </div>
        {{/each}}
        <div class="form-group">
          <label for="prop-read-more-url">Read More URL</label><span class="required-star">*</span>
          <input type="text" name="readMoreUrl" class="form-control" id="prop-read-more-url" placeholder="Where can I read more about this prop?" value="{{prop.readMoreUrl}}" required>
        </div>
        <div class="form-group">
          <label for="prop-area">Who votes on this? (Enter 'California' or 'San Francisco')</label><span class="required-star">*</span>
          <input type="text" name="area" class="form-control" id="prop-area" placeholder="'California' or 'San Francisco'" value="{{prop.area}}" required>
        </div>
        <div class="text-left">
          <button type="submit" class="btn btn-dark">Update</button>
        </div>
      </form>
    </div>
  {{else}}
    You must be an admin to view this page.
    {{#if user}}
      You are logged in with: {{user.email}}
    {{/if}}
  {{/if}}
</div>
